[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
requests = "*"
pandas = "*"
pylint = "*"
beautifulsoup4 = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start="pipenv run python main.py"
